<!DOCTYPE html>
<html>
    <head>
        <script src="angular.js"></script>
        <script src="app.js"></script>

        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <div ng-app="flashcards" ng-controller="MainController">
        <div class="flash-card" ng-repeat="flashcard in flashCards" ng-controller="FlashCardController">
            <h1>{{flashcard.question}}</h1>
            <ul class="flash-card-answers" ng-repeat="answer in flashcard.answers">
                <li class="flash-card-answer"
                ng-click="checkAnswer(answer)"
                ng-hide="answered">
                {{ answer.text }}
                </li>
<!--                 <li class="flash-card-answer">
                No, it's not.
                </li>
                <li class="flash-card-answer">
                What's a flash card?
                </li> -->
            </ul>

                <h2 class="answer-feedback" ng-show="answered">
                    <span ng-show="answeredCorrectly">Yeah, you got it right!</span>
                    <span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
                </h2>

        </div> <!-- end flash-card -->
    </div><!-- end app -->
</html>
